@media screen and (max-width:950px) {
    .info img{
    height: 375px;
    width: 300px;
    }
    html {
    font-size: 15px;  
    }
    .catalog {
    box-sizing: border-box;
    padding-left: 35px;
    padding-right: 25px;
    }
}
@media screen and (max-width:850px){
    .info{
    flex-direction: column;
    align-items: center; 
    }
    .info p {
    width: 55%;
    }
    .info img {
    margin-bottom: 30px;
    }
    .fotos {
    justify-content: center;   
    }
    .foto {
    margin: 0 5px;   
    }
}
@media screen and (max-width:660px){
    .list {
    flex-direction: column;   
    }
    .product-imgs img {
        width: 45%;
        height: 0%;
        margin: 5px;
    }
    .product-imgs{
        flex-wrap: wrap;
    }
    
}
@media screen and (max-width:380px){
    .link-nav a {
    padding: 0px 4px;   
    }
    .catalog {
     padding-top: 20px;   
    }


}
    